html, body, #root, .store {
  height: 100%;
}

#root, .store, .App, .container, .sidebar, .main {
  flex: 1;
  display: flex;
}

header {
  height: 45px;
  display: flex;
}

.sidebar {
  flex: 0;
}

#root, .App {
  flex-direction: column;
}

.container {
  flex-direction: column;
}

.container, .main, .sidebar, .page {
  align-self: stretch;
}

.page {
  flex:1;
  min-height: 700px;
}
