.gradient {
  background: #efefef;
  background: -moz-linear-gradient(270deg, #efefef 0%, #e7e8eb 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #e7e8eb)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #efefef 0%, #e7e8eb 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #efefef 0%, #e7e8eb 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #efefef 0%, #e7e8eb 100%); /* ie10+ */
  background: linear-gradient(180deg, #efefef 0%, #e7e8eb 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e7e8eb',GradientType=0 ); /* ie6-9 */
}

body {
  font-size: 16px;
  background: #ccc;
}

header {
  z-index: 10;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header .fa-bars {
  color: #333;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 1.333em;
}

header .fa-bars:hover {
  color: #49c;
}

header .fa-bars:active, header .fa-bars:focus {
  color: #47a;
  background: #ddd;
}

header h1 {
  color: #333;
  font-weight: 600;
  letter-spacing: 0.15em;
}

.container {
  z-index: 5;
  overflow: hidden;
}

.sidebar {
  color: #fff;
  overflow-y: auto;
  transition: .5s;
  background: #333;
  flex-direction: column;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.sidebar .font-selection h2 {
  padding: 1em;
  font-weight: 600;
  border-bottom: 1px solid #555;
}

.font-selection h2 i {
  float: right;
}

.font-selection .font-list {
  height: 0;
  transition: .2s;
  overflow-y: hidden;
}

.font-selection .font-list.show {
  height: auto;
}

.font-selection .font-item {
  padding: 0.5em 1em;
}

.font-selection .font-item:nth-child(even) {
  background: #444;
}

.font-selection .font-item.selected-font {
  background: #49c;
}

.font-selection .font-item:hover {
  background: #555;
}

.font-selection .font-item.selected-font:hover {
  background: #48b;
}

.main {
  overflow: auto;
}

.page {
  padding: 2em;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  position: relative;
}

.page h1:before, .page h1:after, .page h2:before, .page h2:after, .page h3:before, .page h3:after, .page h4:before, .page h4:after, .page h5:before, .page h5:after, .page h6:before, .page h6:after {
  color: #999;
  display: none;
  font-size: 12px;
  content: '<h1>';
  position: absolute;
}

.page h1:before, .page h2:before, .page h3:before, .page h4:before, .page h5:before, .page h6:before {
  left: -2.5em;
}

.page h1:after {
  content: '</h1>';
}

.page h1:hover:before, .page h1:hover:after, .page h2:hover:before, .page h2:hover:after, .page h3:hover:before, .page h3:hover:after, .page h4:hover:before, .page h4:hover:after, .page h5:hover:before, .page h5:hover:after, .page h6:hover:before, .page h6:hover:after {
  display: inline;
}

.page h2:before {
  content: '<h2>';
}

.page h2:after {
  content: '</h2>'
}

.page h3:before {
  content: '<h3>';
}

.page h3:after {
  content: '</h3>'
}

.page h4:before {
  content: '<h4>';
}

.page h4:after {
  content: '</h4>'
}

.page h5:before {
  content: '<h5>';
}

.page h5:after {
  content: '</h5>'
}

.page h6:before {
  content: '<h6>';
}

.page h6:after {
  content: '</h6>'
}
